<mat-card>
    <mat-card-header>
        <mat-card-title>Вопросы теста</mat-card-title>
        <mat-card-subtitle>Вопрос {{currentQuestionNumber + 1}} из {{questions.length}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <label>{{currentQuestion.text}}</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="currentQuestion.selectedAnswerId">
            @for (answer of currentQuestion.answers; track $index) {
                <mat-radio-button class="example-radio-button" [value]="$index">{{answer}}</mat-radio-button>
            }
        </mat-radio-group>
        <div>{{showSelectedAnswers}}</div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="previous()">Назад</button>
        <button mat-button (click)="next()">Вперед</button>
    </mat-card-actions>
</mat-card>